<button mat-button [matMenuTriggerFor]="menu">
  <mat-icon>perm_identity</mat-icon>
  <span>{{ userSessionService.getUserName() }}</span>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>Profile</span>
  </button>
  <button mat-icon-item (click)="openUpload()">
    <mat-icon>cloud_upload</mat-icon>
    <span>&nbsp;&nbsp;File Upload</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>input</mat-icon>
    <span>LogOut</span>
  </button>
</mat-menu>
