<mat-card class="country-card">
   <mat-card-header>
     <mat-card-title>Country</mat-card-title>
   </mat-card-header>
   <mat-card-content>
     <form class="example-form" [formGroup]="form">
       <table class="example-full-width" cellspacing="0">
         <tr>
           <td>
             <mat-form-field class="example-full-width">
             <input matInput placeholder="Name" [(ngModel)]="formData.name" formControlName="name" required>
             </mat-form-field>
           </td>
         </tr>
         <tr>
         <td><mat-form-field class="example-full-width">
           <input matInput placeholder="Short Name" [(ngModel)]="formData.shortName"
                    formControlName="abbrev" required>
         </mat-form-field>
         </td>
       </tr>
       </table>
     </form>
<!--     <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
   </mat-card-content>
   <mat-card-actions>
<!-- TODO: Set up to be Update or Add    -->
     <button class="mat-raised-button mat-primary" (click)="submit()">
       {{ update_flag ? 'Update' : 'Add' }}
     </button>
     <button mat-raised-button (click)="close()">Cancel</button>
   </mat-card-actions>
 </mat-card>
